<div class="cadastro">
  <div class="cadastro-container">
    <div class="cadastro-imagem-upload">
      <label for="imagemInput" class="imagem-label">
        <img *ngIf="imagemPreview; else placeholder" [src]="imagemPreview" alt="Imagem de perfil" />
        <ng-template #placeholder>
          <div class="placeholder">Selecionar imagem</div>
        </ng-template>
      </label>
      <input type="file" id="imagemInput" (change)="onImagemSelecionada($event)" accept="image/*" />
    </div>

    <div class="cadastro-form">
      <a class="back-button" routerLink="/"><span>&larr;</span></a>
      <h2>Cadastre-se</h2>

      <form [formGroup]="cadastroForm" (ngSubmit)="onSubmit()">
        
        <div class="checkbox-group">
          <label>
            <input type="checkbox" [checked]="isChecked('paciente')" (change)="selecionarTipo('paciente')" />
            Sou paciente
          </label>
          <label>
            <input type="checkbox" [checked]="isChecked('medico')" (change)="selecionarTipo('medico')" />
            Sou médico
          </label>
        </div>

        <input formControlName="nome" placeholder="Nome Completo*" />

        <div class="row">
          <input formControlName="uf" placeholder="UF*" />
          <input formControlName="municipio" placeholder="Município*" />
          <select formControlName="situacao">
            <option value="Ativo">Ativo</option>
            <option value="Inativo">Inativo</option>
          </select>
        </div>

        <div class="row">
          <input formControlName="usuario" placeholder="Usuário*" />
          <input formControlName="crm" placeholder="RG*" />
          <input formControlName="cpf" placeholder="CPF*" />
        </div>

        <div>
          <select formControlName="sexo" style="width: 25%;">
            <option value="Feminino">Feminino</option>
            <option value="Masculino">Masculino</option>
          </select>
          <input formControlName="especialidade" placeholder="Especialidade*" />
          <input formControlName="valorHora" placeholder="Valor p/ hora*" />
        </div>

        <input formControlName="formacao" placeholder="Formação*" />
        <input formControlName="sobre" placeholder="Sobre" />
        <input formControlName="email" type="email" placeholder="Email*" />
        <input formControlName="senha" type="password" placeholder="Senha*" />
        <input formControlName="confirmarSenha" type="password" placeholder="Confirmar Senha*" />

        <button type="submit">Cadastrar</button>
      </form>

      <a class="register-link" routerLink="/login">Já possuo conta, ir para o Login</a>
    </div>
  </div>
</div>
