<app-menu></app-menu>

<div class="container">
  <h2 class="title">Consultas:</h2>

  <div class="filtro">
  </div>

  <div class="consultas-container">
    <div class="consulta-card" *ngFor="let consulta of consultas">
      <div *ngIf="consulta.situacao === 'Agendada' || consulta.situacao === 'Finalizada' || consulta.situacao === 'Cancelada'">
        <div class="card-content">
          <div class="dados">
            <p><strong>Data:</strong> {{ consulta.data }}</p>
            <p><strong>Médico(a):</strong> {{ consulta.medico }}</p>
            <p><strong>Duração:</strong> {{ consulta.duracao }}</p>
            <p><strong>Horário:</strong> {{ consulta.horario }}</p>
            <p><strong>Situação:</strong> {{ consulta.situacao }}</p>
            <p><strong>Valor:</strong> {{ consulta.valor }}</p>
          </div>
          <div class="fotoAcoes">
            <div class="foto">
              <img class="profile" src="assets/images/login.png" alt="Foto Terapeuta" />
            </div>
            <div class="acoes">
              <ng-container *ngIf="consulta.situacao === 'Agendada'; else finalizadaOuCancelada">
                <button (click)="desmarcar(consulta)" title="Desmarcar" class="icones" matTooltip="Desmarcar">
                  <mat-icon fontIcon="event_busy"></mat-icon>
                </button>
                <button (click)="editarConsulta(consulta)" title="Editar" class="icones" matTooltip="Editar">
                  <mat-icon fontIcon="edit"></mat-icon>
                </button>
                <button *ngIf="isHoje(consulta.data)" (click)="abrirTeams(consulta)" title="Abrir Teams" class="icones" matTooltip="Abrir Teams">
                  <mat-icon fontIcon="groups"></mat-icon>
                </button>
              </ng-container>
              <ng-template #finalizadaOuCancelada>
                <button (click)="verDetalhes(consulta)" title="Detalhes" class="icones" matTooltip="Detalhes">
                  <mat-icon fontIcon="zoom_out_map"></mat-icon>
                </button>
              </ng-template>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <mat-paginator [length]="consultas.length" [pageSizeOptions]="[10, 20, 50]" aria-label="Select page"></mat-paginator>

  <app-editar-consulta 
      *ngIf="modalEditarConsultaVisivel"
      [consultaParaEditar]="consultaSelecionada"
      (fechar)="fecharModalEditar()"
      (salvar)="confirmarEdicao($event)">
  </app-editar-consulta>

  <div class="modal-backdrop" *ngIf="modalDesmarcarConsultaVisivel">
    <div class="modal-box">
      <h3>Desmarcar Consulta?</h3>
      <p>Tem certeza que deseja desmarcar esta consulta?</p>
      <div class="modal-buttons">
        <button class="cancelar" (click)="fecharModalDesmarcar()">Cancelar</button>
        <button class="confirmar" (click)="confirmarDesmarcamento()">Confirmar</button>
      </div>
    </div>
  </div>

</div>
