<div class="toolbar">
  <mat-toolbar class="topbar">
    <!-- Logo -->
    <div class="logo">
      <img src="assets\images\LogoCerebro.png" alt="Logo" routerLink="/">
      <div class="titulo" routerLink="/">
        <strong>Simplifica</strong><br>
        Terapia
      </div>
    </div>

    <!-- Menus -->
    <div class="menu-opcoes" *ngIf="Logado">
      <button mat-button [matMenuTriggerFor]="menuConsultas">Consultas</button>
      <mat-menu #menuConsultas="matMenu">
        <button class="mat-menu-item" routerLink="/terapeutas">Agendar</button><br>
        <button class="mat-menu-item" routerLink="/consultas">Visualizar</button>
      </mat-menu>

      <button mat-button [matMenuTriggerFor]="menuLaudos">Laudos/Receitas</button>
      <mat-menu #menuLaudos="matMenu">
        <button class="mat-menu-item" routerLink="/laudos">Visualizar</button>
      </mat-menu>

      <button mat-button [matMenuTriggerFor]="menuPagamentos">Pagamentos</button>
      <mat-menu #menuPagamentos="matMenu">
        <button class="mat-menu-item" routerLink="/realizarPagamento">Realizar Pagamento</button><br>
        <button class="mat-menu-item" routerLink="/recibos">Recibos</button>
      </mat-menu>

      <button mat-button [matMenuTriggerFor]="menuTerapeutas">Terapeutas</button>
      <mat-menu #menuTerapeutas="matMenu">
        <button class="mat-menu-item" routerLink="/terapeutas">Visualizar Terapeutas</button><br>
        <button class="mat-menu-item" routerLink="/avaliacoes">Avaliações</button>
      </mat-menu>

    </div>

    <!-- Ícones à direita -->
    <div class="icons">
      <button mat-icon-button matTooltip="Agenda" routerLink="/perfilMedico" *ngIf="Logado">
        <mat-icon>calendar_month</mat-icon>
      </button>

      <button mat-icon-button matTooltip="Notificações" *ngIf="Logado" (click)="showNotifications = !showNotifications">
        <mat-icon class="notification-icon">notifications</mat-icon>
        <span class="badge">2</span>
      </button>

      <!-- Ícone de perfil com menu suspenso -->
      <button mat-icon-button [matMenuTriggerFor]="perfilMenu" matTooltip="Perfil" *ngIf="Logado">
        <mat-icon>account_circle</mat-icon>
      </button>

      <mat-menu #perfilMenu="matMenu">
        <button mat-menu-item (click)="irParaPerfil()">Meu Perfil</button>
        <button mat-menu-item (click)="logout()">Logout</button>
      </mat-menu>

      <!-- Ícone perfil para usuário que não está logado -->
      <button mat-icon-button matTooltip="Login" *ngIf="!Logado" routerLink="/login">
        <mat-icon>account_circle</mat-icon>
      </button>
    </div>
  </mat-toolbar>
</div>

<app-notificacoes *ngIf="showNotifications"></app-notificacoes>
