<app-menu></app-menu>

<div class="conteudo-principal">
  <h2>Laudos e Receitas:</h2>

  <div class="filtro filtros-container">
    <label class="filtro-label">Filtro:</label>
    <div class="inputs">
      <mat-form-field appearance="outline" class="custom-field">
        <mat-label>Data Início</mat-label>
        <input
          matInput
          [matDatepicker]="pickerInicio"
          placeholder="dd/mm/aaaa"
          id="data_inicio"
          name="data_inicio"
        />
        <mat-datepicker-toggle
          matSuffix
          [for]="pickerInicio"
        ></mat-datepicker-toggle>
        <mat-datepicker #pickerInicio></mat-datepicker>
      </mat-form-field>

      <mat-form-field appearance="outline" class="custom-field">
        <mat-label>Data Fim</mat-label>
        <input
          matInput
          [matDatepicker]="pickerFim"
          placeholder="dd/mm/aaaa"
          id="data_fim"
          name="data_fim"
        />
        <mat-datepicker-toggle
          matSuffix
          [for]="pickerFim"
        ></mat-datepicker-toggle>
        <mat-datepicker #pickerFim></mat-datepicker>
      </mat-form-field>

      <mat-form-field appearance="outline" class="custom-field validade">
        <mat-label>Validade</mat-label>
        <input
          matInput
          [matDatepicker]="pickerValidade"
          placeholder="dd/mm/aaaa"
          id="validade"
          name="validade"
        />
        <mat-datepicker-toggle
          matSuffix
          [for]="pickerValidade"
        ></mat-datepicker-toggle>
        <mat-datepicker #pickerValidade></mat-datepicker>
      </mat-form-field>

      <mat-form-field appearance="outline" class="custom-field medico">
        <mat-label>Médico</mat-label>
        <input
          matInput
          placeholder="Nome do médico"
          id="medico"
          name="medico"
        />
      </mat-form-field>

      <mat-form-field appearance="outline" class="custom-field tipo">
        <mat-label>Tipo</mat-label>
        <mat-select id="tipo">
          <mat-option value="">Selecionar</mat-option>
          <mat-option value="psicologico">Psicológico</mat-option>
          <mat-option value="medico">Médico</mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div class="buttons">
      <button mat-stroked-button class="btn-limpar">
        <mat-icon>close</mat-icon>
        Limpar
      </button>

      <button mat-flat-button color="primary" class="btn-buscar">
        <mat-icon>search</mat-icon>
        Buscar
      </button>
    </div>
  </div>

  <div class="laudos-container">
    <div class="laudo-card" *ngFor="let laudo of laudos">
      <h3>Receita Médica:</h3>
      <p><strong>Cód:</strong> {{ laudo.codigo }}</p>
      <p><strong>Médico(a):</strong> {{ laudo.medico }}</p>
      <p><strong>CRM:</strong> {{ laudo.crm }}</p>
      <p><strong>Data Emissão:</strong> {{ laudo.dataEmissao }}</p>
      <p><strong>Data Vencimento:</strong> {{ laudo.dataVencimento }}</p>
      <p><strong>Tipo:</strong> {{ laudo.tipo }}</p>

      <div class="acoes">
        <button mat-icon-button matTooltip="Revogar" (click)="revogar(laudo)">
          <mat-icon>close</mat-icon>
        </button>
        <button
          mat-icon-button
          matTooltip="Imprimir"
          (click)="abrirModalImpressao(laudo)"
        >
          <mat-icon>print</mat-icon>
        </button>
        <button
          mat-icon-button
          matTooltip="Baixar"
          (click)="abrirModalBaixar(laudo)"
        >
          <mat-icon>download</mat-icon>
        </button>
        <button
          mat-icon-button
          matTooltip="Visualizar"
          (click)="abrirModalVisualizacao(laudo)"
        >
          <mat-icon>visibility</mat-icon>
        </button>
      </div>
    </div>
  </div>

  <footer class="paginator-footer">
    <mat-paginator
      [length]="100"
      [pageSizeOptions]="[10, 50, 100]"
      aria-label="Select page"
    ></mat-paginator>
  </footer>
</div>

<div class="modal-backdrop" *ngIf="modalVisivel">
  <div class="modal-box">
    <h3>Deseja revogar o laudo/receita?</h3>
    <p>Tem certeza que deseja receita/laudo?</p>
    <div class="modal-buttons">
      <button class="cancelar" (click)="fecharModal()">Cancelar</button>
      <button class="confirmar" (click)="confirmarRevogacao()">
        Confirmar
      </button>
    </div>
  </div>
</div>

<div class="modal-backdrop" *ngIf="modalImpressaoVisivel">
  <div class="modal-box">
    <h3>Deseja imprimir o documento?</h3>
    <select [(ngModel)]="formatoSelecionado">
      <option value="pdf">PDF</option>
      <option value="jpg">JPG</option>
    </select>
    <div class="modal-buttons">
      <button class="cancelar" (click)="fecharModalImpressao()">
        Cancelar
      </button>
      <button class="confirmar" (click)="confirmarImpressao()">
        Confirmar
      </button>
    </div>
  </div>
</div>

<div class="modal-backdrop" *ngIf="modalBaixarVisivel">
  <div class="modal-box">
    <h3>Deseja baixar o documento?</h3>
    <select [(ngModel)]="formatoSelecionado">
      <option value="pdf">PDF</option>
      <option value="jpg">JPG</option>
    </select>
    <div class="modal-buttons">
      <button class="cancelar" (click)="fecharModalBaixar()">Cancelar</button>
      <button class="confirmar" (click)="confirmarBaixar()">Confirmar</button>
    </div>
  </div>
</div>

<div class="modal-backdrop visualizacao" *ngIf="modalVisualizacaoVisivel">
  <div class="visualizacao-box">
    <h3>Receita Médica:</h3>
    <div class="toolbar">
      <button
        mat-icon-button
        matTooltip="Fechar"
        (click)="fecharModalVisualizacao()"
      >
        <mat-icon>close</mat-icon>
      </button>
    </div>
    <div class="modal-backdrop visualizacao" *ngIf="modalVisualizacaoVisivel">
      <div class="visualizacao-box">
        <h3>Receita Médica:</h3>

        <div class="visualizacao-documento">
          <div class="modal-header">
            <button class="close-btn" (click)="fecharModalVisualizacao()">
              x
            </button>
          </div>
          <section class="receita-estatica">
            <header class="cabecalho">
              <p class="clinica">
                <strong>{{ laudoSelecionado.clinica }}</strong>
              </p>
              <p class="endereco">{{ laudoSelecionado.endereco }}</p>
              <p class="contato">
                <span>{{ laudoSelecionado.email }}</span> |
                <span>{{ laudoSelecionado.telefone }}</span>
              </p>
            </header>

            <h2 class="titulo">RECEITA MÉDICA</h2>

            <p class="data-local">
              {{ laudoSelecionado.cidade }}, {{ laudoSelecionado.data }}
            </p>

            <p class="paciente">
              <strong>{{ laudoSelecionado.paciente }}</strong>
            </p>

            <section class="uso-medicamento">
              <p><strong>Uso oral</strong></p>
              <p>
                {{ laudoSelecionado.produto }} – {{ laudoSelecionado.quantidade
                }}<br />
                Modo de usar: {{ laudoSelecionado.modoUso }}
              </p>
              <p><strong>Uso contínuo</strong></p>
            </section>

            <footer class="assinatura-container">
              <p class="assinatura-linha">______________________________</p>
              <p class="medico-crm">
                <strong
                  >{{ laudoSelecionado.medico }} -
                  {{ laudoSelecionado.crm }}</strong
                >
              </p>
              <p class="cpf">{{ laudoSelecionado.cpf }}</p>
              <p class="carimbo">Incluir carimbo com CRM</p>
            </footer>

            <p class="rodape">FORMULÁRIO RECEITA BRANCA 1 VIA</p>
          </section>
        </div>
      </div>
    </div>
  </div>
</div>
